PORT=
APP_URL=

DATABASE_URL=
NODE_ENV=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=h

ADMIN_EMAIL=
ADMIN_PASSWORD=

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=
